{% extends "tags/base.twig" %}

{% block content %}
    <div class="text-end mb-3">
        <a href="/tags/create" class="btn btn-primary">Create New Tag</a>
    </div>
    <table class="table table-striped align-middle">
        <thead class="table-dark">
            <tr>
                <th style="width: 90%">Title</th>
                <th style="width: 10%">View</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <td>{{ tag.title }}</td>
                <td><a href="/tags/{{ tag.id }}" class="btn btn-info">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}